<h1>Editing Menu</h1>

<%= render 'form', menu: [@truck, @menu] %>


<%= link_to 'Back', truck_menus_path(@truck) %>
<% content_for 'javascript_content' do %>
<%= javascript_include_tag params[:controller], media: 'all' %>
<% end %>